/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
    background: #212121
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6em;
    color: white;
    padding-top: 4%;
    padding-bottom: 1%;
}

h3 {
    font-size: 5rem;
    color: white;
}

p, a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
}

/* header section */


header {
    width: 100%;
    height: 70vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header div{
    color: white;
    text-align: center;
    background: rgb(0, 4, 17, .8);
}

.title {
    padding-top: 2%;
    padding-bottom: 1%;
}

.title a {
    font-size: inherit;

}

.links {
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: inherit;

}

.icons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    background-color: inherit;
}

.icons a {
    font-size: 6rem;
}

/* gallery section */

.gallery {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(0, 4, 17);
}

.g_images {
    /* border: yellow solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    width: 80%;
}

.g_images img {
    margin: .8%;
    width: 29%;
}

/* spacers */
.spacer {
    width: 100%;
    height: 12vh;
    background-color: rgb(0, 4, 17);
    border-top: #232630 dotted;
    /* border: yellow solid; */
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
    border-bottom: #232630 dotted;
    /* border: yellow solid; */
    
}

/* about us section */
.about {
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
}

.about h3 {
    font-weight: bold;
}

.about-container .text {
    margin-top: 5%;
    padding-bottom: 5%;
    width: 60%;
    text-align: center;
}

/* contact us section */
.contact {
    text-align: center;
    height: 35vh;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    font-weight: bold;
    padding-top: 4.5vh;
}

.contact h3 {
    font-weight: bold;
    padding-top: 2;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.address {
    width: 25%;
    margin-top: 0;
}

.hours {
    width: 25%;
}

.contacts {
    width: 25%;
    margin-top: 0;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    font-size: 3rem;
    background-color: #000411;
    display: flex;
}

.signup {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

form {
    display: flex;
    width: 80%;
    height: 50px;
}

button {
    font-size: 2rem;
    width: 150px;
}

input {
    width: 100%;
    font-size: 2rem;
    color: #757575;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 2rem;
    padding-top: 2%;
}

.copyright {
    margin: 3%;
    margin-top: 1%;
    padding-top: 7%;
    font-size: 2rem;
}





/* mobile media query */
@media (max-width: 500px) {
    /* header media section */

    .title {
        font-size: 4rem;
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: column;
    }
    
    .icons {
        display: flex;
        justify-content: space-around;   
    }

    /* gallery media section */
    .gallery {
        height: auto;
    }

    .gallery h2 {
        font-size: 5rem;
    }

    .g_images img  {
        width: 100%;

    }
    
    /* about us media section */

    .about {
        height: 150vh;
        height: 1200px;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 15vh;
        padding-bottom: 5vh;
    }

    .about h3 {
        width: 80%;
    }
    
    .about-container .text p{
        width: 100%;
        font-size: 2.5rem;
    }


    /* contact us media section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer media section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        background-color: #000411;
        display: flex;
        flex-direction: column;
    }

    footer h3 {
        font-size: 3rem;
        color: white;
        margin: 5%;
    }

    nav#footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 3rem;
    }

    button {
        font-size: 2rem;
        width: 100%;
    }

    nav#footer a {
        font-size: 4rem;
    }

    .copyright {
        color: white;
        font-size: 2rem;
        text-align: center;
    }
}