/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
    background: #212121
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
    color: white;
    padding-top: 4%;
    padding-bottom: 1%;
}

h3 {
    font-size: 5rem;
    color: white;
}

h4 {
    font-size: 4rem;
    color: white;
}

p, a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
}


/* header section */
header {
    width: 100%;
    height: 70vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    color: white;
    text-align: center;
    background: rgb(0, 4, 17, .8);
}

.title {
    padding-top: 2%;
    padding-bottom: 1%;
}

.title a {
    font-size: inherit;

}

.links {
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: inherit;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 20%;
    background-color: inherit;
}

.icons a {
    font-size: 6rem;
}


/* spacer */
.spacer {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
    border-bottom: #232630 dotted;
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: auto;
}

.menu-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: yellow solid; */
}

.menu h2 {
    text-align: center;
    padding-bottom: 2%;
    /* border: yellow solid; */
}

.menu-section {
    /* border: yellow solid; */
}

.margin {
    margin: auto;
}

.menu-items{
    /* border: yellow solid; */
    /* width: 35%;
    margin: 2%; */
}

.margin {
    margin: 5%;
}

.menu-section div {
    display: flex;
    margin-top: 3%;
    /* border: orange solid; */
    /* justify-content: space-evenly; */

}


.description i{
    font-style: italic;
}

.indent {
    /* border: pink solid; */
    text-align: left;
    flex-grow: 2;
}


/* footer section */
footer {
    width: 100%;
    height: 15vh;
    font-size: 3rem;
    background-color: #000411;
    display: flex;
}

.signup {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

form {
    display: flex;
    width: 80%;
    height: 50px;
}

button {
    font-size: 2rem;
    width: 150px;
}

input {
    width: 100%;
    font-size: 2rem;
    color: #757575;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 2rem;
    padding-top: 2%;
}

.copyright {
    margin: 3%;
    margin-top: 1%;
    padding-top: 7%;
    font-size: 2rem;
}

/* mobile media query */
@media (max-width: 428px) {
    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 50%;
    margin: auto;
    text-align: center;
}

    /* header section */
    .header {
        height: 35vh;
    }

    .title {
        font-size: 6rem;
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }

    .links a {
        font-size: 4rem;
    }
    
    .icons {
        display: flex;
        justify-content: space-around;
        width: 30%;   
    }

    /* menu */
    .menu {
        background-image: none;
    }

    .menu-container {
        background-color: #e1efe6;
    }

    .menu h2, h3, h4, p{
        font-weight: bold;
        color: #000411
    }

    .menu-container h2{
        padding-top: 16%;
        font-size: 7rem;
        border-bottom: #000411 solid 25px;
        border-width: 2%;
    }

    .menu h3 {
        margin-top: 10%;
        font-size: 6.5rem;
        border: #000411 solid 5px;
    }

    #Drinks.menu-section h3{
        padding-left: 15%;
        padding-right: 15%;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
    }

    .description {
        text-align: center;
        font-size: 4rem;
        width: inherit;
        padding-bottom: 5%;
        border-bottom: #000411 solid 5px;
    }

    .description i {
        font-size: inherit;
    }

    .menu-items h4{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 5rem;
        
    }

    #Soup_and_Salad.menu-sectionm, #Desserts.menu-section{
        margin-left: 10%;
    }

    #Entrees.menu-section {
        margin-left: 8%
    }

    #Desserts.menu-section h3 {
        padding-left: 15%;
        padding-right: 15%;

    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        background-color: #000411;
        display: flex;
        flex-direction: column;
    }

    footer h3 {
        font-size: 4rem;
        color: white;
    }

    nav#footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    input {
        width: 100%;
        font-size: 3rem;
    }

    button {
        font-size: 2rem;
        width: 100%;
    }

    nav#footer a {
        font-size: 4rem;
    }

    .copyright {
        color: white;
        font-size: 2rem;
        text-align: center;
    }
    
}
